[submodule "third_party/base-n"]
	path = third_party/base-n
	url = https://github.com/azawadzki/base-n.git
	branch = master
  ignore = dirty

[submodule "third_party/libbcrypt"]
	path = third_party/libbcrypt
	url = https://github.com/rg3/libbcrypt.git
	branch = master
  ignore = dirty

[submodule "third_party/libhydrogen"]
	path = third_party/libhydrogen
	url = https://github.com/jedisct1/libhydrogen.git
	branch = master
  ignore = dirty

[submodule "third_party/libsodium"]
	path = third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = master
  ignore = dirty

[submodule "third_party/Unity"]
	path = third_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = master
  ignore = dirty

[submodule "third_party/gcem"]
	path = third_party/gcem
	url = https://github.com/kthohr/gcem.git
	branch = master
  ignore = dirty

[submodule "third_party/c-ares"]
	path = third_party/c-ares
	url = https://github.com/c-ares/c-ares.git
	branch = main
  ignore = dirty

[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date.git
	branch = master
  ignore = dirty
